[Unit]
Description=Raspotify Docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull piotrb/raspotify-docker:armhf-buster
Environment="DEVICE_NAME=raspotify(%H)"
Environment="BITRATE=160"
Environment="CACHE_ARGS=--disable-audio-cache"
Environment="VOLUME_ARGS=--enable-volume-normalisation --linear-volume --initial-volume=100"
Environment="BACKEND_ARGS=--backend alsa"
EnvironmentFile=-/etc/default/raspotify-docker
ExecStart=/usr/bin/docker run \
  --net=host \
  --name %n \
  --device /dev/snd \
  -e DEVICE_NAME \
  -e BITRATE \
  -e CACHE_ARGS \
  -e VOLUME_ARGS \
  -e BACKEND_ARGS \
  piotrb/raspotify-docker:latest
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
